.profile {
    border: 1px solid #ccc;
    background-color: rgba(0,0,0,0.0105);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
  
    h3 {
      color: #333;
      font-size: 2rem;
    }
  
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 1.5rem;
    }
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 8px;
        font-size: 1.2rem;

      }
    }
  
    button {
      background-color: #333;
      color: #fff;
      padding: 8px 16px;
      border: none;
      cursor: pointer;
      font-size: 1.2rem;
      margin-top: 10px;
  
      &:hover {
        background-color: #222;
      }
    }
    // Responsive for mobile devices
    @media (max-width: 600px) {
        img {
          width: 150px;
          height: 150px;
        }
    
        button {
          font-size: 1rem;
        }
      }
  }
  