aside {
  background-color: white;
  width: 30rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.container {
  width: 30rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;

  svg {
    font-size: 1.5rem;
    cursor: pointer;
  }

  input {
    height: 2rem;
    border: none;
    outline: none;
    padding-left: 20px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    transition: background-color 0.3s;
  }

  input::placeholder {
    color: black;
    font-family: 'DM Sans', sans-serif;
    transition: opacity 0.5s ease;
  }

  input:focus::placeholder {
    opacity: 0;
  }
}

input:focus {
  background-color: rgb(248, 248, 248);
}

.weather-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-image img {
  max-width: 100%; /* Set the maximum width */
  max-height: 100%; /* Set the maximum height */
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 80px;
  font-weight: 400;

  span {
    margin-top: 12px;
    font-size: 45px;
    font-weight: 600;
  }
}

.weather-location {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 80px;
  font-weight: 800;
}

.weather-date {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 0 0 3rem;
}

.weather-description {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 100;
  color: black;
  border-top: 1px solid rgb(223, 223, 223);
  padding-top: 3rem;
  margin: 0 4rem;
}

.data-container {
  margin-top: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.element {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  width: 10rem;
}

.data-container img {
  max-width: 100%; /* Set the maximum width */
  max-height: 100%; /* Set the maximum height */
  height: 2rem; /* You can keep a fixed height */
  width: 2rem; /* You can keep a fixed width */
}

.data {
  font-size: 20px;
  font-weight: 400;
}

.weather-city-image {
  margin: 3rem;
  overflow: hidden;
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  h2 {
    position: absolute;
    color: rgb(255, 255, 255);
  }

  img {
    height: 100%;
  }
}

.text {
  font-size: 18px;
  font-weight: 400;
  color: rgb(177, 177, 177);
}
.icon {
  margin-top: 10px;
}

.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  margin-top: 22rem;

  h1 {
    color: rgb(219, 219, 219);
  }
}
