.weather-detail-container {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .weather-detail-item {
      width: 17rem;
      height: 14rem;
      background-color: white;
      border-radius: 15px;
      justify-content: center;
      margin: 2rem 1rem;
      padding: 1rem 2rem;
      display: flex;
      justify-content: start;

      h3 {
        font-size: 20px;
        font-weight: 100;
        color: rgb(216, 216, 216);
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        p {
          font-size: 48px;
          font-weight: 800;

          span {
            font-size: 20px;
            font-weight: 100;
          }
        }

        img {
          max-width: 2rem;
          max-height: 2rem;
        }
      }

      .sunrise-sundown {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0;

        svg {
          font-size: 55px;
          color: #48484a;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}
