.weather-detail-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;

  .weather-card-temperature {
    display: flex;
    gap: 1rem;

    h4:nth-child(2) {
      color: rgb(216, 216, 216);
    }
  }
  .weather-detail-item {
    width: 100px;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 10px;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }
  }
  .sunrise-sundown {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }
}
